html {
  letter-spacing: 0.2em;
}
body {
  color: rgb(113, 113, 113);
}

.nav__listItem::after {
  content: attr(data-text);
  content: attr(data-text) / "";
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-weight: 700;
}
@media speech {
  .nav__listItem::after {
    display: none;
  }
}

.ReactModal__Overlay {
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  background-color: rgba(255, 255, 255, 0.6);
}

.ReactModal__Overlay--before-close {
  background-color: rgba(255, 255, 255, 0);
}

.talent__modal {
  transition: any 200ms ease-in-out;
  position: relative;
  width: 80vw;
  max-height: 70vh;
  top: 50%;
  left: 50%;
  right: 40px;
  bottom: 40px;
  background: rgb(255, 255, 255, 0.6);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 1em;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 7px 3px 5px rgba(109, 109, 109, 0.3);
  -moz-box-shadow: 7px 3px 5px rgba(109, 109, 109, 0.3);
  box-shadow: 7px 5px 5px rgba(109, 109, 109, 0.3);
}

.talent__overlay__modal {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

.talent__modal__image {
  grid-area: image;
  width: 400px;
  height: 400px;
}

.talent__modal__content {
  position: relative;
  color: #314b53;
  font-size: 0.9em;
  font-weight: 600;
  display: grid;
  grid-template-areas:
    "image desc desc desc"
    "image soc soc soc";
  line-height: 1.5;
}

.talent__description__wrapper {
  grid-area: desc;
  padding-left: 1em;
  position: relative;
}

.talent__description {
  display: inline-block;
  letter-spacing: 0;
  font-size: 0.9em;
  width: 75%;
}

.talent__contact {
  color: #314b53;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  width: 30px;
  height: 31px;
  margin: 1em 0;
}

.talent__contact img,
p {
  margin-bottom: 0;
}

.modal__close__button {
  width: 1.5em;
  height: 1.5em;
  background: url("../images/cancel.svg") no-repeat;
  position: absolute;
  left: 97%;
  cursor: pointer;
  border: none;
  background-color: transparent;
  z-index: 5;
}

.modal__close__icon {
  margin: 0;
  z-index: 6;
}

.social__image__wrapper {
  display: flex;
  height: 40px;
  flex-shrink: 0;
  flex-wrap: nowrap;
  margin: 0.1em;
}

.social__image__count {
  margin: 0 1em 0 0.1em;
  align-self: center;
  text-transform: uppercase;
  letter-spacing: 0;
  min-width: 50px;
}
.social__image {
  height: 100%;
  margin: 0 0.2em 0 0;
}

.social__wrapper {
  display: flex;
  flex-shrink: 0;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: stretch;
  margin: 1em 1em 0 1em;
  align-self: flex-end;
  grid-area: soc;
}

.footer__line {
  height: 2px;
  background-color: #d1d9df;
  margin: 2em auto 0 auto;
  width: 100%;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(132, 133, 135);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(132, 133, 135);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(132, 133, 135);
}

@media only screen and (max-width: 1024px) {
  .talent__modal {
    width: 90vw;
    max-height: 90vh;
  }
}

@media only screen and (max-width: 768px) {
  .ReactModal__Overlay--after-open {
    background-color: rgba(255, 255, 255, 0.7);
  }

  .talent__modal__image {
    width: 200px;
    height: 200px;
    margin: 1em auto;
  }

  .talent__modal__content {
    grid-template-areas:
      "image"
      "desc"
      "soc";
  }

  .talent__description__wrapper {
    padding-left: 0;
  }

  .talent__description {
    display: block;
    margin: 0 auto 2em auto;
    width: 100%;
  }
  .social__wrapper {
    position: inherit;
    margin: 0;
  }
  .social__image__wrapper {
    display: block;
    margin: 1em auto;
    text-align: center;
  }
  .social__image {
    height: 100%;
    margin: 0 0.5em 0 0;
  }
  .modal__close__button {
    width: 30px;
    left: auto;
    right: 0;
  }

  .footer__line {
    margin-top: 1em;
  }
}

@media only screen and (max-width: 380px) {
  .modal__close__button {
    width: 30px;
    left: auto;
    right: 0;
  }
}

.lds-ellipsis {
  display: inline-block;
  position: absolute;
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
  top: 50%;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: rgb(86, 86, 86);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
