.nav__listItem::after {
  content: attr(data-text);
  content: attr(data-text) / "";
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-weight: 700;
}
@media speech {
  .nav__listItem::after {
    display: none;
  }
}

.modal__close__button {
  width: 1.5em;
  height: 1.5em;
  background: url("../images/cancel.svg") no-repeat;
  position: absolute;
  left: 97%;
  cursor: pointer;
  border: none;
  background-color: transparent;
  z-index: 5;
}

.modal__close__icon {
  margin: 0;
  z-index: 6;
}

.footer__line {
  height: 2px;
  background-color: #d1d9df;
  margin: 2em auto 0 auto;
  width: 100%;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(132, 133, 135);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(132, 133, 135);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(132, 133, 135);
}

@media only screen and (max-width: 768px) {
  .modal__close__button {
    width: 30px;
    left: auto;
    right: 0;
  }

  .footer__line {
    margin-top: 1em;
  }
}

@media only screen and (max-width: 380px) {
  .modal__close__button {
    width: 30px;
    left: auto;
    right: 0;
  }
}

.lds-ellipsis {
  display: inline-block;
  position: absolute;
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
  top: 50%;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: rgb(86, 86, 86);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
